.container {
    border: 0px solid #000;
}

.row {
    border: 0px solid red;
}

.col {
    border: 0px solid green;
}
body{ 
    background: gray;
}

#header{
 background: orange;
}
#menu{
background: pink;
}
#content{
background: white;
}
#sidebar{
    background: lightblue;
}
#footer{
background: orange;
}